/* ICONS */

:root {
	--accent: #6b68db;
	--light: #9f96ff;
	--dark: #333da9;
	--album: url("assets/round-album-24px.svg");
	--close: url("assets/round-close-24px.svg");
	--library_music: url("assets/round-library_music-24px.svg");
	--music_note: url("assets/round-music_note-24px.svg");
	--pause: url("assets/round-pause-24px.svg");
	--person: url("assets/round-person-24px.svg");
	--play_arrow: url("assets/round-play_arrow-24px.svg");
	--queue_music: url("assets/round-queue_music-24px.svg");
	--skip_next: url("assets/round-skip_next-24px.svg");
	--skip_previous: url("assets/round-skip_previous-24px.svg");
	--shuffle: url("assets/round-shuffle-24px.svg");
	--repeat: url("assets/round-repeat-24px.svg");
	--repeat_one: url("assets/round-repeat_one-24px.svg");
	--search_button: url("assets/round-search-24px.svg");
}

.media.prev {
	background-image: var(--skip_previous);
}

.media.play.false {
	background-image: var(--play_arrow);
}

.media.play.true {
	background-image: var(--pause);
}

.media.skip {
	background-image: var(--skip_next);
}

.media.shuffle {
	background-image: var(--shuffle);
	opacity: 0.5;
}

.media.shuffle.true {
	background-image: var(--shuffle);
	opacity: 1;
}

.media.repeat {
	background-image: var(--repeat);
	opacity: 0.5;
}

.media.repeat.all {
	background-image: var(--repeat);
	opacity: 1;
}

.media.repeat.one {
	background-image: var(--repeat_one);
	opacity: 1;
}

.search-button {
	background-image: var(--search_button);
}

/* STYLES */

html {
	font-size: 16px;
}

body {
	font-family: "Overpass", "Helvetica", sans-serif;
	margin: 0;
	background: #FEFEFE;
	font-size: 80%;
	line-height: 1.8em;
	max-width: 100vw;
}

@media only screen and (min-resolution: 180dpi) {
	body {
		font-size: 200%;
		line-height: 2.2em;
	}

	div#Artists {
		grid-template-columns: repeat(1, minmax(200px, 1fr)) !important;
	}

	.progress-wrapper {
		display: none !important;
	}
}

/* TOP NAV */

nav#topnav,
div#topnav-filler {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-image: linear-gradient(#DEDEDE, #EFEFEF);
	background-color: #EEEEEE;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
	overflow: hidden;
	position: sticky;
	top: 0;
	width: 100%;
}

div.box.nav {
	padding: .5em 3em;
	padding-top: .8em;
	border-bottom: 2px solid transparent;
}

div.box.nav.active,
div.box.nav:hover {
	border-bottom: 2px solid rgba(0, 0, 0, 0.25);
}

/* SONG LIST */

div#Songs {
	max-width: 100%;
}

#Songs table {
	border-spacing: 0px;
	table-layout: fixed;
	width: 100vw;
}

#Songs table thead tr th {
	cursor: pointer;
}

#Songs table thead tr th.song.length,
#Songs table tbody tr td.song.length {
	text-align: center;
	width: 12%;
}

#Songs table thead tr th.song.track,
#Songs table tbody tr td.song.track {
	text-align: left;
	width: 12%;
}

#Songs table thead tr th,
#Songs table tbody tr td {
	text-align: left;
	padding: 2px .5em;
	width: auto;
}

#Songs table thead tr,
#Songs table tbody tr:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.1);
}

tr.songs {
	transition: all .15s;
}

tr.songs:hover {
	background-color: rgba(0, 0, 0, 0.15) !important;
	transition: all 0s;
}

td.song {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 280px;
}

/* ARTISTS GRID */

div#Artists {
	padding: 10px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-auto-rows: minmax(10px, auto);
	vertical-align: middle;
	margin: auto 0;
	overflow: scroll;
}

/* Cool tricks to style all children */
div#Artists > div.artist-tile {
	display: flex;
	margin: 0 1em;
	word-wrap: break-word;
	border-radius: 8px;
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
	text-align: left;
	align-items: center;
	transition: box-shadow 0.1s cubic-bezier(0.55, 0.09, 0.68, 0.53);
}

div.artist-tile > .album-art {
	margin: 4px;
	border-radius: 8px;
	border-color: rgba(0,0,0,0.15);
	box-shadow: none;
}

div#Artists > div.artist-tile:hover {
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.35);
}

div#Artists > div.artist-tile:active {
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.15);
	transition: box-shadow 0.025s;
}

/* BOTTOM BAR */

#bottombar {
	background-image: linear-gradient(#DEDEDE, #EFEFEF);
	background-color: #EEEEEE;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
	overflow: hidden;
	position: sticky;
	bottom: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
}

.media-info {
	display: inline-flex;
	justify-content: left;
	flex-direction: row;
	align-items: center;
	margin-right: 1em;
	flex: 1;
}

.album-art {
    width: 2.5em;
    height: 2.5em;
    background-size: contain;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.45);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.35);
}

.media-info .current-info {
    display: flex;
    flex-direction: column;
}

.media-info .current-info p {
	margin: 0 .35em;
	font-size: 80%;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.media {
    height: 5vh;
    width: 5vh;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
	background-size: cover;
    border: 2px solid black;
    border-radius: 50%;
    margin: 8px 5px;
}

.media-wrapper,
.playback-control {
	margin: 0 1em;
}

.progress-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 2;
	/* max-width: 500px; */
	/* height: .25em; */
}

.progress {
	vertical-align: middle;
	-webkit-appearance: none;
}

progress::-webkit-progress-bar {
	background-color: rgba(0, 0, 0, .075);
	box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
}

progress::-webkit-progress-value {
	background: linear-gradient(to-right, var(--light), var(--accent));
	background-color: var(--accent);
	box-shadow: inset 0px -5px 6px 0px rgba(0, 0, 0, 0.15);
	border-radius: 8px;
}

.progress {
	width: 100%;
	height: .5em;
	margin-bottom: 5px;
}

.progress-time {
	display: inline-flex;
	margin: 2px 0px;
}

.progress-time p {
	margin: 0;
	font-size: 75%;
	opacity: .95;
}

.progress-time-total::before {
	content: " /"
}
